# Gradle 관련
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA 관련
*.iml
.idea/
out/

# 로그 파일
*.log

# OS별 파일
.DS_Store
Thumbs.db

# 테스트 결과
/test-results/
/build/reports/

# JAR/WAR 파일
*.jar
*.war

# 기타
*.class